[Unit]
Description=tvsat control daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/tvsatd
Restart=on-failure

[Install]
WantedBy=multi-user.target